###> idmarinas/idm-template-bundle ###
**/*.dist
/config/reference.php
/docs/package-lock.json
/build/
/vendor/
/var/
/phpunit.xml
!/phpunit.xml.dist
/.phpunit.cache/
/composer.lock
###< idmarinas/idm-template-bundle ###
